<div class="flex items-center justify-start flex-col py-2 px-2 lg:px-10 w-full h-full space-y-14 lg:space-y-6">

  <!-- Header -->
  <div class="hidden lg:flex items-center justify-between w-full">
    <div routerLink="/expenses-list"
      class="flex items-center justify-center cursor-pointer border w-14 h-14 rounded-md">
      <img src="assets/back.png" alt="Back" class="w-10 opacity-90">
    </div>
    <h1 class="font-bold text-xl">Expense Details</h1>

    <div [routerLink]="['/delete-expense', docId]"
      class="flex bg-red-600 text-white items-center cursor-pointer justify-center space-x-4 px-10 py-3 rounded-sm font-semibold">
      Delete
    </div>
  </div>

  @if(details) {

  <!-- Subject -->
  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingSubject ? 'justify-between w-full' : 'justify-start w-11/12'">
      <h1 class="text-sm lg:text-base whitespace-nowrap">Subject:</h1>

      @if(!isEditingSubject){
      <h1 class="text-sm lg:text-base truncate">{{ details.name || 'Not provided' }}</h1>
      }
      @else {
      <input type="text" class="h-full w-full min-w-0 outline-none font-normal px-4 text-sm lg:text-base"
        placeholder="Enter new name" [(ngModel)]="subject">
      <div (click)="updateField('name', subject)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white items-center justify-center text-xs lg:text-sm cursor-pointer hidden lg:flex">
        Update
      </div>
      <div (click)="updateField('name', subject)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>
    <div (click)="toggleSubjectEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>

  <!-- Amount -->

  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingAmount ? 'justify-between w-full' : 'justify-start w-11/12'">
      <h1 class="text-sm lg:text-base whitespace-nowrap">Amount:</h1>

      @if(!isEditingAmount){
      <h1 class="text-sm lg:text-base truncate">{{ details.amount || 'Not provided' }}</h1>
      }
      @else {
      <input type="number" class="h-full w-full min-w-0  outline-none font-normal px-4 text-sm lg:text-base"
        placeholder="Enter new amount" [(ngModel)]="amount">
      <div (click)="updateField('amount', amount)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white items-center justify-center text-xs lg:text-sm cursor-pointer hidden lg:flex">
        Update
      </div>
      <div (click)="updateField('amount', amount)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>
    <div (click)="toggleAmountEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>


  <!-- Date -->

  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingDate ? 'justify-between w-full' : 'justify-start w-11/12'">
      <h1 class="text-sm lg:text-base whitespace-nowrap">Date:</h1>

      @if(!isEditingDate){
      <h1 class="text-sm lg:text-base truncate">{{ details.date || 'Not provided' }}</h1>
      }
      @else {
      <input type="date" class="h-full w-full min-w-0  outline-none font-normal px-4 text-sm lg:text-base"
        [(ngModel)]="date">
      <div (click)="updateField('date', date)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white items-center justify-center text-xs lg:text-sm cursor-pointer hidden lg:flex">
        Update
      </div>
      <div (click)="updateField('date', date)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>
    <div (click)="toggleDateEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>



  <!-- Status -->
  <div class="w-11/12 lg:w-1/2 h-14 flex items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full"
      [ngClass]="isEditingStatus ? 'justify-between w-full' : 'justify-start w-11/12'">
      <h1>Status:</h1>
      @if(!isEditingStatus){
      <h1 [ngClass]="details.status == 'Paid'? 'text-green-600':'text-amber-600'">{{ details.status || 'Not provided' }}
      </h1>
      }
      @else {
      <input type="text" class="h-full flex-grow  outline-none font-normal px-4"
        placeholder="Enter new status" [(ngModel)]="status">
      <div (click)="updateField('status', status)"
        class="w-24 bg-blue-600 h-4/5 rounded-md text-white flex items-center justify-center text-sm cursor-pointer">
        Update</div>
      }
    </div>
    <div (click)="toggleStatusEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-10 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      @if(details.status == 'Pending'){
      <img src="assets/toggle-button.png" alt="" class="w-10">
      }
      @else{
      <img src="assets/toggle-done.png" alt="" class="w-10">
      }
    </div>
  </div>

  <!-- Category -->
  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingCategory ? 'justify-between w-full' : 'justify-start w-11/12'">

      <h1 class="text-sm lg:text-base whitespace-nowrap">Category:</h1>

      @if(!isEditingCategory){
      <h1 class="text-sm lg:text-base truncate">{{ details.category || 'Not provided' }}</h1>
      }
      @else {
      <select id="category" [(ngModel)]="category"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none text-sm lg:text-base">
        <option value="#" disabled selected>Select a category</option>

        @if(authService.checkLogIn() && combinedCategories.length){
        @for (cat of combinedCategories; track $index) {
        <option [value]="cat.name">{{ cat.name }}</option>
        }
        }
        @else{
        @for (cat of categoryOptions; track $index) {
        <option [value]="cat.name">{{ cat.name }}</option>
        }
        }

      </select>

      <!-- for larger screens -->
      <div (click)="updateField('category', category)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white hidden lg:flex items-center justify-center text-xs lg:text-sm cursor-pointer">
        Update
      </div>

      <!-- for smaller screens -->
      <div (click)="updateField('category', category)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>

    <div (click)="toggleCategoryEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>


  <!-- Location -->
  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingLocation ? 'justify-between w-full' : 'justify-start w-11/12'">

      <h1 class="text-sm lg:text-base whitespace-nowrap">Location:</h1>

      @if(!isEditingLocation){
      <h1 class="text-sm lg:text-base truncate">{{ details.location || 'Not provided' }}</h1>
      }
      @else {
      <input type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none text-sm lg:text-base"
        placeholder="Enter new location" [(ngModel)]="location">

      <!-- for larger screens -->
      <div (click)="updateField('location', location)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white hidden lg:flex items-center justify-center text-xs lg:text-sm cursor-pointer">
        Update
      </div>

      <!-- for smaller screens -->
      <div (click)="updateField('location', location)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>

    <div (click)="toggleLocationEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>


  <!-- Payment Method -->
  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingPaymentMethod ? 'justify-between w-full' : 'justify-start w-11/12'">

      <h1 class="text-sm lg:text-base whitespace-nowrap">Payment Method:</h1>

      @if(!isEditingPaymentMethod){
      <h1 class="text-sm lg:text-base truncate">{{ details.paymentMethod || 'Not provided' }}</h1>
      }
      @else {
      <select id="paymentMethod" [(ngModel)]="paymentMethod"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none text-sm lg:text-base">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
        <option value="UPI">UPI</option>
        <option value="Wallet">Wallet</option>
        <option value="Other">Other</option>
      </select>

      <!-- for larger screens -->
      <div (click)="updateField('paymentMethod', paymentMethod)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white hidden lg:flex items-center justify-center text-xs lg:text-sm cursor-pointer">
        Update
      </div>

      <!-- for smaller screens -->
      <div (click)="updateField('paymentMethod', paymentMethod)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>

    <div (click)="togglePMethodEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>
  </div>


  <!-- Description -->
  <div
    class="w-11/12 lg:w-1/2 h-auto min-h-14 flex flex-wrap items-center justify-between border border-black rounded-sm px-2 relative">
    <div class="flex font-medium items-center space-x-3 h-full w-full min-w-0"
      [ngClass]="isEditingDescription ? 'justify-between w-full' : 'justify-start w-11/12'">

      <h1 class="text-sm lg:text-base whitespace-nowrap">Description:</h1>

      @if(!isEditingDescription){
      <h1 class="text-sm lg:text-base truncate">{{ details.description || 'Not provided' }}</h1>
      }
      @else {
      <input type="text" class="h-full flex-grow  outline-none font-normal px-4 text-sm lg:text-base"
        placeholder="Enter new description" [(ngModel)]="description">

      <!-- for larger screens -->
      <div (click)="updateField('description', description)"
        class="w-24 bg-blue-600 h-10 rounded-md text-white hidden lg:flex items-center justify-center text-xs lg:text-sm cursor-pointer">
        Update
      </div>

      <!-- for smaller screens -->
      <div (click)="updateField('description', description)"
        class="lg:hidden w-24 bg-blue-600 h-10 rounded-md text-white flex items-center justify-center text-xs lg:text-sm cursor-pointer absolute -bottom-11 -left-3">
        Update
      </div>
      }
    </div>

    <div (click)="toggleDescEdit()"
      class="w-10 cursor-pointer absolute right-0 -bottom-8 lg:-right-16 lg:inset-y-0 rounded-md flex items-center justify-center">
      <img src="assets/edit.png" alt="Edit" class="w-6 invert grayscale">
    </div>

  </div>

  <div [routerLink]="['/delete-expense', docId]"
    class="w-11/12 mt-10 flex lg:hidden bg-red-600 text-white items-center cursor-pointer justify-center space-x-4 px-10 py-3 rounded-sm font-semibold">
    Delete
  </div>

  }

</div>