<div class="w-full h-full relative">
    <form [formGroup]="addExpenseForm" (ngSubmit)="onSubmit()"
        class="flex flex-col items-center py-6 px-4 w-full h-full space-y-6">

        <!-- HEAD -->
        <div class="hidden lg:flex items-center justify-between w-full">
            <div routerLink="/" class="flex items-center justify-center cursor-pointer border w-14 h-14 rounded-sm">
                <img src="assets/back.png" alt="Back" class="w-10 opacity-90">
            </div>

            <div class="flex-grow text-center">
                <h1 class="font-bold text-2xl">Add Your Expense</h1>
            </div>

            <div class="w-14"></div>

        </div>

        <!-- BODY -->
        <div class="flex flex-col items-center w-full lg:w-1/2 space-y-8">

            <!-- Name -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="name" class="block text-gray-700 font-medium">Subject</label>
                <input id="name" formControlName="name" type="text" placeholder="Enter a short name for this expense"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none" maxlength="15">

                @if(addExpenseForm.controls['name'].invalid && addExpenseForm.controls['name'].touched) {
                <div>
                    @if(addExpenseForm.controls['name'].errors?.['required']) {
                    <small class="text-red-600">Subject is required.</small>
                    }
                    @else if(addExpenseForm.controls['name'].errors?.['maxLength']) {
                    <small class="text-red-600">Name cannot exceed 15 characters.</small>
                    }
                </div>
                }
            </div>

            <!-- Amount -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="amount" class="block text-gray-700 font-medium">Amount</label>
                <input id="amount" formControlName="amount" type="number" placeholder="Enter Amount" min="0"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none">

                @if(addExpenseForm.controls['amount'].invalid && addExpenseForm.controls['amount'].touched) {
                <div>
                    @if(addExpenseForm.controls['amount'].errors?.['required']) {
                    <small class="text-red-600">Amount is required.</small>
                    }
                </div>
                }
            </div>

            <!-- Description -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="description" class="block text-gray-700 font-medium">Description (optional)</label>
                <textarea rows="3" id="description" formControlName="description" placeholder="Any description about it"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none"></textarea>
            </div>

            <!-- Category -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="category" class="block text-gray-700 font-medium">Category</label>
                <div class="relative w-full">
                    <select id="category" formControlName="category"
                        class="w-full px-4 py-2 border border-gray-300 rounded-sm relative focus:outline-none">
                        <option value="#" disabled selected>Select a category</option>
                        @if(authService.checkLogIn() && combinedCategories.length){
                        @for (cat of combinedCategories; track $index) {
                        <option [value]="cat.name">{{ cat.name }}</option>
                        }
                        }
                        @else{
                        @for (cat of categoryOptions; track $index) {
                        <option [value]="cat.name">{{ cat.name }}</option>
                        }
                        }
                    </select>
                    @if(authService.checkLogIn()){
                    <div class="w-10 h-10 text-lg rounded-full font-medium border border-black flex items-center justify-center absolute -right-0 -bottom-12 cursor-pointer hover:bg-gray-200"
                        (click)="openAddCategory()">
                        <h1>+</h1>
                    </div>
                    }
                </div>

                @if(addExpenseForm.controls['category'].invalid && addExpenseForm.controls['category'].touched) {
                <small class="text-red-600">Category is required.</small>
                }
            </div>

            <!-- Date -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="date" class="block text-gray-700 font-medium">Date</label>
                <input id="date" formControlName="date" type="date"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none">
            </div>

            <!-- Location -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="location" class="block text-gray-700 font-medium">Location (optional)</label>
                <input id="location" formControlName="location" type="text"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none"
                    placeholder="Place where you expended it">
            </div>

            <!-- Status -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="status" class="block text-gray-700 font-medium">Status</label>
                <select id="status" formControlName="status"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none">
                    <option value="Pending">Pending</option>
                    <option value="Paid">Paid</option>
                </select>
            </div>

            <!-- Payment Method -->
            <div class="w-full flex flex-col items-start space-y-2">
                <label for="paymentMethod" class="block text-gray-700 font-medium">Payment Method</label>
                <select id="paymentMethod" formControlName="paymentMethod"
                    class="w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none">
                    <option value="Cash">Cash</option>
                    <option value="Card">Card</option>
                    <option value="UPI">UPI</option>
                    <option value="Wallet">Wallet</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" [disabled]="addExpenseForm.invalid"
                class="bg-blue-500 text-white py-3 w-full font-semibold rounded-sm hover:bg-blue-600 transition ease-in duration-200">
                Add
            </button>

        </div>
    </form>


    <!-- Dialog Form -->
    @if (isAddingCategory) {
    <div class="flex items-center justify-center absolute inset-0 z-20 h-full w-full">

        <div class="w-11/12 lg:w-1/2 flex items-center justify-center flex-col bg-[#333333] text-white rounded-md space-y-6"
            [ngClass]="isCategoryError? 'h-60': 'h-40'">

            <h1 class="font-semibold text-lg">Add New Category</h1>

            <div class="w-4/5 flex flex-col items-center justify-center space-y-6">
                <input type="text" class="w-4/5 lg:w-1/2 outline-none px-2 text-black h-6" [(ngModel)]="addedCategory">
                @if(isCategoryError){
                <p class="text-sm text-red-500">{{addedCategoryError}}</p>
                }
                <div class="space-x-6 flex items-center justify-center">
                    <button (click)="addCategory()" class="bg-blue-600 font-medium w-24 h-8">Add</button>
                    <button (click)="closeAddCategory()"
                        class="bg-gray-300 text-black font-medium w-24 h-8">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    }
</div>