<div class="flex flex-col items-center justify-center h-[88vh] py-2 w-full space-y-2 ">

    <div class="flex items-center justify-between w-[97%]">
        <div routerLink="/expenses-list"
            class="flex items-center justify-center cursor-pointer border w-14 h-14 rounded-md">
            <img src="assets/back.png" alt="Back" class="w-10 opacity-90">
        </div>
        <h1 class="font-bold text-xl">{{ monthName }} Expenses</h1>

        <div></div>
    </div>

    @if (isLoading) {
    <div class="w-1/2 h-4/5 space-y-6 flex items-center justify-center flex-col">
        <h1 class="text-xl font-semibold animate-pulse">Fetching data...</h1>
    </div>
    }
    @else {
    <div class="w-1/2 h-4/5 space-y-6 flex items-center justify-center flex-col">
        <canvas class="w-full h-full" baseChart [data]="graphConfiguration"
            [type]="'bar'">
        </canvas>
    </div>

    }

    
    <div routerLink="/monthly-list/{{date}}" class="flex items-center justify-center w-44 h-12 cursor-pointer bg-blue-600 hover:bg-blue-800 transition-all duration-150 ease-in rounded-sm font-semibold text-white">
        <h1>More details</h1>
    </div>

</div>