
<div class="w-full h-[87vh] flex flex-col items-center justify-center space-y-10 relative">

    <div routerLink="/expenses-list"
    class="hidden lg:flex items-center justify-center cursor-pointer absolute left-6 top-6 border w-14 h-14 rounded-md">
    <img src="assets/back.png" alt="Back" class="w-10 opacity-90">
  </div>
  
    <h1 class="font-semibold text-lg text-center px-2">Are You sure you want to delete this expense data ?</h1>
    <div class="w-full flex items-center justify-center space-x-8 max-[400px]:flex-col max-[400px]:space-x-0 max-[400px]:space-y-6">
        <div (click)="deleteDoc()" class="bg-red-600 cursor-pointer text-white flex items-center rounded-sm justify-center max-[400px]:w-4/5 w-44 h-14 font-semibold">
            Yes, Do it
        </div>
        <div  routerLink="/" class="flex items-center justify-center max-[400px]:w-4/5 w-44 bg-gray-300 cursor-pointer h-14 font-semibold rounded-sm">
            Cancel
        </div>
    </div>
</div>